body{
    background-color: aqua;
}

.hidden {
    display: none;
}

#divRadio{
    margin: auto;
    border: 2px black solid;

    width: max-content;
}

.rdText{
    margin-top: 15px;
    margin-bottom: 15px;
}

.rdText:first-child{
    margin-top: 5px;
}
.rdText:last-child{
    margin-bottom: 5px;
}

#divRadio label{
    margin-left: 10px;
    margin-right: 10px;
}