*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --height-header: 100px;
    --height-nav: 300px;
    --width-input: 13%;
    --width-checkbox: 9%;
}

#header{
    background-color: aliceblue;
    height: var(--height-header);
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
}
#imgCPNV{
    height: var(--height-header);
    position: absolute;
    top: 0;
    left: 0;
}
#h1Titre{
    /*background-color: aqua;*/
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    width: max-content;
    margin: auto;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}
/*****************/
#navMain{
    height: var(--height-nav);
    background-image: url("../pictures/imgNav.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.button{
    height: 50px;
    width: 100px;

    border: 2px solid black;
    box-shadow: 4px 4px 5px black;
}

.button:active{
    background-color: grey;
    transform: translate(5px, 5px);
    box-shadow: 0 0 5px black;
}
.rotate180{
    transform: rotateY(180deg);
}
/***********************/
.divLabels{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-top: 0;
    width: 100%;
}

.divLabels label{
    /*background-color: aqua;*/
    font-size: 1.45em;
    margin: 10px;
    margin-bottom: 0;
}

.divInputs{
    width: 100%;
}

.divInputs input{
    font-size: 1.1em;
    margin: 10px;
}

.divLabels,
.divInputs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: max-content;
}

.divLabels label,
.divInputs input{
    width: var(--width-input);
    font-weight: bold;
    height: 30px;
    text-align: center;
    /*background-color: brown;*/
}

.divLabels .radio,
.divInputs input[type=checkbox]{
    width: var(--width-checkbox);
    /*background-color: #1c7430;*/
}
.btnAdd{
    background-color: mediumseagreen;
    border: none;
    color: white;
    margin: 10px;
    padding: 0;
    font-size: 26px;
    cursor: pointer;
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
}

.hidden{
    display: none;
}

.label{
}

.inputLogement{
}

.label,
.inputLogement{
    font-weight: bold;
    height: 30px;
    text-align: center;
}

#divLogement{
    padding: 5px;
}

#champLogement{
    margin-left: 50px;
    width: 15%;
}

.ligneChampLogement{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 5px;
    margin-bottom: 5px;
}